.descrption {
  width: 70%;
}

.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap:20px;
}
.blueBtn {
  background-color: var(--soft-blue);
  border: 1px solid var(--soft-blue);
  margin-top: 50px;
  transition: 0.5s;
}
.blueBtn:hover {
  background-color: transparent;
  color: var(--soft-blue);
}

.grayBtn {
  background-color: hsl(226, 30%, 92%);
  color: var(--very-dark-blue);
  border: 1px solid hsl(226, 30%, 92%);
  margin-top: 50px;
  padding: 1rem 2rem;
  transition: 0.5s;
}
.grayBtn:hover {
  background-color: transparent;
  color: var(--grayish-blue);
}
