

.textColor{
  color: var(--grayish-blue);
  font-weight: 300;
}

.btn {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  .btn button {
    width: 90%;
    border: none;
    background-color: transparent;
    border-top: 1px solid rgb(197, 193, 193);
    padding-bottom: 20px;
    padding-top:20px;
    position: relative;
  
  }
  
  .tabs {
    display: flex;
    gap: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .activeBtn{
    border: 1px solid var(--soft-red);
  }

  .blueBtn{
    background-color: var(--soft-blue);
    margin-top: 3.35rem;
    padding: 1rem 1.56rem;
}
.title{
  color:var( --very-dark-blue)

}

  @media (min-width: 500px) {
    .FeaturesContainer {
      display: flex;
      flex-direction: column;
    }
    .tabs {
      display: flex;
      gap: 50px;
      justify-content: center;
      align-items: center;
      flex-direction: row;
    }
    .tabs > div {
      width: 50%;
    }
    .text {
      padding: 30px;
    }

    .btn button {
      width: 90%;
      border: none;
      background-color: transparent;
      border-bottom: 1px solid rgb(197, 193, 193);
      padding-bottom: 20px;
    }
    .btn {
      flex-direction: row;
      width: 70%;
      margin: auto auto 30px auto;
  
    }
   
  
    /* on Click tab active for button  */
  
    .tabActive button{
      border: 1px solid var(--soft-red);
  
    }
   
  }
  