
.FeaturesContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}


@media (min-width: 500px) {
  .FeaturesContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
  }
}
