.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: var(--very-dark-blue);
  height: fit-content;
}

/* .twitter img, .facebook img{
} */
.footerLinks {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;

}
.footerLinks svg {
  margin-right: 30px;
}

.footerLinks li {
  margin-left: 20px;
}
.footerLinks li a {
  color: #fff;
  opacity: 0.9;
  font-size: 16px;
}
.socialLinks {
  display: flex;
}

.socialLinks img {
  margin-left: 50px;
  width: 50%;
  height: 50%;
}
.footerLogo {
  fill: #fff;
}

@media (min-width: 500px) {
  .footer {
    background-color: var(--very-dark-blue);
    /* height: 88px; */
    
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30 60px;

  }
  .footerLinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 30px;
}}
