
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');


:root {
  --soft-blue: hsl(231, 69%, 60%);
  --soft-red: hsl(0, 94%, 66%);
  --grayish-blue: hsl(229, 8%, 60%);
  --very-dark-blue: hsl(229, 31%, 21%);
}

*{
  box-sizing: border-box;
}
html, body {
  scroll-behavior: smooth;
}
body{
  font-size: 18px;
  font-family: 'Rubik', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

img{
  width: 100%;
}
a{
  text-decoration: none;
}

ul li{
  list-style: none;
}



.container{
  /* max-width: 1200px; */
  padding: 0 1rem;

}
@media (min-width: 500px) {
  
.container{
  padding: 0 4rem;

}
.margin-top-6 {
  margin-top: 6rem;
}

.margin-top-8 {
  margin-top: 8rem;
}
}



/* .container[data-v-45dd00e4] {
}
} */